// FontAwesome directory
$fa-font-path: "../webfonts";

// Global Options
// https://getbootstrap.com/docs/5.0/customize/options/
$enable-caret: false;
$enable-negative-margins: true;

// Colors
// https://getbootstrap.com/docs/5.0/customize/color/
$primary: #0d6efd;
$secondary: #6c757d;